---
layout: default
---

{% assign dev = false %}
{% for static_file in site.static_files %}
	{% if static_file.path == '/-DEV' %}
		{% assign dev = true %}
	{% endif %}
{% endfor %}

<div>

  {{ content }}
	
  <h2>Latest Posts <a href="/search"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="float: right;background-color: transparent;fill:#dfe8ee;padding: 3px;" viewBox="0 0 24 24"><path d="M23.822 20.88l-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396 3.119-3.12zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z"/></svg></a></h2>
	
<!--<div class="ad" style="text-align: center;font-size: small;">Advertisement<br><a href="http://a-ads.com?partner=887950">Advertise with Anonymous Ads</a><center><iframe data-aa="887950" src="" data-src="//ad.a-ads.com/887950?size=300x250" scrolling="no" style="width:300px; height:250px; border:0px; padding:0;overflow:hidden" allowtransparency="true"></iframe></center></div>
<noscript>
<div class="ad-ns" style="text-align: center;font-size: small;">Advertisement<br><a href="http://a-ads.com?partner=887950">Advertise with Anonymous Ads</a><center><iframe data-aa="887950" src="//ad.a-ads.com/887950?size=300x250" scrolling="no" style="width:300px; height:250px; border:0px; padding:0;overflow:hidden" allowtransparency="true"></iframe></center></div>
</noscript>-->
<!--<div class="ndt3-google-ad"><span style="font-size:small;">Advertisement</span><br/><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3285187781774116" data-ad-slot="5173263456" data-ad-format="auto" data-full-width-responsive="true"></ins></div>
  <div>&nbsp;</div>-->

	<ul class="post-list">
    {% for post in site.posts %}
		<li>

			<h2>
				<a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
			</h2>
		    {% assign date_format = "%b %-d, %Y" %}
			<span class="post-meta">{{ post.date | date: date_format }} | <a href="{{ post.url }}#comments">Comments</a></span>

			<span>{{ post.excerpt | markdownify | truncatewords: 25 }}</span>

		</li>
    {% endfor %}
	</ul>
</div>
<script>

window.addEventListener('load', function() {

	{% if dev %}
	var commentsAPI = 'http://localhost:8804';
	{% else %}
	var commentsAPI = 'https://comments-api.truewinter.dev';
	{% endif %}

	var xhr = new XMLHttpRequest();
	xhr.open('GET', commentsAPI+'/count');
	xhr.onload = function() {
		var count = JSON.parse(this.responseText);
		if (count.success) {
			for (var i = 0; i < count.data.length; i++) {
				var postURL = count.data[i]._id.split('-').slice(0,3).join('/') + '/' + count.data[i]._id.split('-').slice(3).join('-'){% if dev %}+'.html'{% endif %};
				console.log(postURL)
				$('.post-link[href="/'+postURL+'"]').parent().parent().find('.post-meta').find('a').text($('.post-link[href="/'+postURL+'"]').parent().parent().find('.post-meta').find('a').text()+ ' ('+count.data[i].count+')');
				$('.post-link[href="/'+postURL+'"]');
			}
		}
	}
	xhr.send();
	
});
</script>
