---
layout: default
---

<div>

  {{ content }}

  <h2>Latest Posts</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>
		        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
	<span class="post-meta">{{ post.date | date: date_format }} | <a href="{{ post.url }}#disqus_thread"> comments</a></span>

        <span>{{ post.excerpt | markdownify | truncatewords: 35 }}</span>

      </li>
    {% endfor %}
  </ul>

</div>
<script id="dsq-count-scr" src="https://ndt3-blog.disqus.com/count.js" async></script>
