---
layout: default
---

{% assign dev = false %}
{% for static_file in site.static_files %}
	{% if static_file.path == '/-DEV' %}
		{% assign dev = true %}
	{% endif %}
{% endfor %}

<article itemscope itemtype="http://schema.org/BlogPosting">

  <div itemprop="articleBody">
    {{ content }}
<hr>
	  <script>
var mn=Math.round(document.getElementsByTagName('article')[0].innerText.split(' ').length/200);
var mnh=0;
var hn=0;
if(mn=>60){hn=Math.floor(mn/60);mnh=mn-hn*60;}else{mnh=mn;}
document.getElementById('rTime').innerText = ((hn?hn+(hn===1?' hour ':' hours '):'')+(mn%60===0?'':(mnh?mnh:mn)+(mnh===1?' minute':' minutes')));
	    </script>
	  <noscript>
		  <style>
			  .readingTime {
				  display:none;
			  }
		  </style>
	  </noscript>

<h2 id="comments">Comments</h2>

<h3>Leave a comment</h3>
<p>Please note that some comments may require moderation, as determined by Akismet. Read their <a href="https://akismet.com/privacy/" target="_blank">privacy policy</a> to learn more about how they process your data.</p>

<form id="addComments">
	<div id="comment-form-result"></div>
	<input type="hidden" name="post" id="postId">
	<div class="row">
		<div class="form-group col-md">
			<input type="text" class="form-control" placeholder="Name" name="name">
		</div>
		<div class="form-group col-md">
			<input type="email" class="form-control" placeholder="Email" name="email">
			<small class="form-text text-muted">Your email address will be used to show a Gravatar image, but will not be published</small>
		</div>
	</div>
	
	<div class="form-group">
		<textarea class="form-control commentsTextarea" maxlength="2000" id="commentsTextarea" placeholder="Comment" name="comment"></textarea>
		<small style="float: right;"><span id="commentFormCharacterCount">0</span>/2000</small>
	</div>
	
	<div class="form-group">
		<div class="g-recaptcha-comment d-inline-flex" data-sitekey="6LeIjiwUAAAAAJTldNRQIgPEgF-FF8Arsym0CFNW" data-theme="dark" data-callback="recaptchaCallbackComment" data-expired-callback="recaptchaExpiredCallbackComment"></div>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary" id="comment-form-btn">Post Comment</button><span class="spinner-border text-success" role="status" id="comment-form-spinner" style="display:none;"></span>
	</div>
</form>

<hr>
<script id="recaptcha-lazy" data-src="https://www.google.com/recaptcha/api.js"></script>

<style>.invalid-form-data{border:1px solid #f66!important;border-radius:3px!important}#tw-comments{overflow-wrap:break-word}@media only screen and (max-width: 768px) {.reply{margin-left:8px !important;margin-top:8px;border-left:1px solid #404040;}.comment{border-left:1px solid #404040}</style>
<script>
	{% if dev %}
	var commentsAPI = 'http://localhost:8804';
	{% else %}
	var commentsAPI = 'https://comments-api.truewinter.dev';
	{% endif %}
	window.addEventListener('load', function() {
		var commentFormCaptchaLoaded = false;
		var commentCaptchaComplete = false;
		window.recaptchaCommentFormOnload = function() {
			grecaptcha.render($('.g-recaptcha-comment')[0], {'sitekey' : '6LeIjiwUAAAAAJTldNRQIgPEgF-FF8Arsym0CFNW'});
		}
		
		$('#addComments').on('keydown', function() {
			//console.log('test');
			if (!commentFormCaptchaLoaded) {
				if (!$('#recaptcha-lazy').attr('src')) {
					$('#recaptcha-lazy').attr('src', $('#recaptcha-lazy').data('src')+'?onload=recaptchaCommentFormOnload');
				} else {
					recaptchaCommentFormOnload();
				}
				commentFormCaptchaLoaded = true;
			}
		});
		$('#commentsTextarea').on('keyup', function() {
			$('#commentFormCharacterCount').text($('#commentsTextarea').val().length);
		});
		$('#postId').val(location.pathname.slice(1).replace(/\//g, '-').replace('.html', ''));
		$("#addComments").submit(function (e) {
			e.preventDefault();
			var post = true;
			$('#addComments')[0].reset();
			var red = "#F66";
			if (!($('[name="email"]')[0].value.match(/^[a-zA-Z0-9-.]+@[a-zA-Z0-9-.]+\.[a-zA-Z]{2,6}$/gi))) {
				$('[name="email"]').first().addClass('invalid-form-data');
				post = false;
			}
			if(!($('[name="name"]')[0].value.match(/^[a-zA-Z0-9\'\- ]+$/gi))) {
				$('[name="name"]').first().addClass('invalid-form-data');
				post = false;
			}
			if ($('[name="comment"]')[0].value == "") {
				$('[name="comment"]').first().addClass('invalid-form-data');
				post = false;
			}
			//if (grecaptcha) {
				if (!commentCaptchaComplete && commentFormCaptchaLoaded) {
					$(".g-recaptcha-comment").first().addClass('invalid-form-data');
					post = false;
				}
			//}
			if (post) {
				$('#comment-form-btn').hide();
				$('#comment-form-spinner').show();
				$.ajax({
					type: "POST",
					data : $(this).serialize(),
					cache: false,
					url: commentsAPI+'/comment',
					success: function(data){
						$('#comment-form-btn').show();
						$('#comment-form-spinner').hide();
						$("#comment-form-result").html(data.message);
						if (data.success === false) {
							$("#comment-form-result")[0].style = "background-color:"+red+";border-radius:5px;padding:10px;margin-bottom:8px;color:white;";
						} else {
							$("#comment-form-result")[0].style = "background-color:rgb(48, 48, 48);border-radius:5px;padding:10px;margin-bottom:8px;display:inline-block;color:white;";
							$("#addComments")[0].reset();
							setTimeout(function() {
								location.hash = '#comments';
								location.reload();
							}, 500);
						}
						if (grecaptcha) {
							grecaptcha.reset();
						}
						$("html, body").animate({
							scrollTop: $("#comments").offset().top - 100
						}, 500);
					}
				});
			} else {
				$('.invalid-form-data').off('input');
				$('.invalid-form-data').on('input', function(e) {
					if ($(e.target).val() === "") {
						$(e.target).addClass('invalid-form-data');
					} else {
						$(e.target).removeClass('invalid-form-data');
					}
				});
				$("html, body").animate({
					scrollTop: $("#comments").offset().top - 100
				}, 500);
			}
			return false;
		});
		
		// https://coderwall.com/p/fnvjvg/jquery-test-if-element-is-in-viewport

		$.fn.isOnScreen = function() {

			var win = $(window);

			var viewport = {
				top : win.scrollTop(),
				left : win.scrollLeft()
			};
			viewport.right = viewport.left + win.width();
			viewport.bottom = viewport.top + win.height();

			var bounds = this.offset();
			bounds.right = bounds.left + this.outerWidth();
			bounds.bottom = bounds.top + this.outerHeight();

			return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));

		}
		
		window.recaptchaCallbackComment = function() {
			$(".g-recaptcha").first().removeClass('invalid-form-data');
			commentCaptchaComplete = true;
		}
		
		window.recaptchaExpiredCallbackComment = function() {
			$(".g-recaptcha").first().addClass('invalid-form-data');
			commentCaptchaComplete = false;
		}
	});
</script>

<div id="tw-comments"></div>
<span class="spinner-border text-success" role="status" id="comments-spinner" style="display:none;"></span>
<button style="display:none;" class="btn btn-primary" id="load-more-btn">Load More</button>
<div id="tw-reply-box">
	<div id="replyModal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Reply</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="comment-reply-form">
						<div id="reply-form-result"></div>
						<input type="hidden" name="inReplyTo" id="tw-reply-form-reply-to">
						<input type="hidden" name="inReplyType" id="tw-reply-form-reply-type">
						<input type="hidden" name="inReplyPost" id="tw-reply-form-reply-post">
						<input type="hidden" name="inReplyRootComment" id="tw-reply-form-root-comment">
						<div class="form-group">
							<input type="text" class="form-control" name="tw-rf-name" placeholder="Name" id="tw-reply-form-name">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" name="tw-rf-email" placeholder="Email" id="tw-reply-form-email">
						</div>
						<div class="form-group">
							<textarea name="tw-rf-comment" id="replyTextarea" class="form-control" maxlength="2000" placeholder="Comment" id="tw-reply-form-comment"></textarea>
							<small style="float: right;"><span id="replyFormCharacterCount">0</span>/2000</small>
						</div>
						<div class="form-group">
							<div class="g-recaptcha-reply d-inline-flex" data-theme="dark" data-callback="recaptchaCallbackReply" data-expired-callback="recaptchaExpiredCallbackReply"></div>
							<!--<script id="recaptcha-reply-lazy" data-src="https://www.google.com/recaptcha/api.js"></script>-->
						</div>
						<div class="form-group">
							<button class="btn btn-primary" id="reply-form-btn">Comment</button><span class="spinner-border text-success" role="status" id="reply-form-spinner" style="display:none;"></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
.comment {
    margin-bottom: 8px;
}
.reply {
    margin-left: 64px;
    margin-top: 8px;
}
.comment-name, .reply-name {
    font-size: xx-large;
}
.comment-reply {
	margin-left: 4px;
	border-left: 1px solid black;
}
.comment-reply-btn {
	margin-left: 4px;
}
.comment-image, .reply-image {
	margin-right: 8px;
}
.image-td {
	vertical-align: top;
}
</style>


<script>
function loadCommentsInit() {
	function getCookie(cname) {
		var name = cname + "=";
		var decodedCookie = decodeURIComponent(document.cookie);
		var ca = decodedCookie.split(';');
		for(var i = 0; i <ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}
	if (getCookie('tw-comments-login')) {
		var c = document.createElement('input');
		c.type = 'hidden';
		c.name = 'tw-comments-login';
		c.value = getCookie('tw-comments-login');
		$('#addComments').append(c);
		var c2 = document.createElement('input');
		c2.type = 'hidden';
		c2.name = 'tw-comments-login';
		c2.value = getCookie('tw-comments-login');
		$('#comment-reply-form').append(c2);
		$('.active').css('border-bottom', '1px solid #a32bfe');
	}
}

var commentsArray = [];

function loadComments(page) {
	
	if (!page) page = 1;

	var xhr = new XMLHttpRequest();
	xhr.open('GET', commentsAPI+'/comments/'+encodeURIComponent(btoa(location.pathname.slice(1).replace(/\//g, '-').replace('.html', '')))+`?page=${page}`);
	xhr.onload = function() {
		$('#comments-spinner').hide();
		var data = JSON.parse(this.responseText);
		if (data.success === false) {
			return document.getElementById('tw-comments').innerText = 'Failed to load comments';
		}
		
		var metadata = data.metadata;
		var twcomments = data.data.comments;
		var replies = data.data.replies;
	
		// Start Preact rewrite
		function Comment(props) {
			return html`
				<div data-comment-id="${props.id}" class="${props.type}">
					<table>
						<tr>
							<td>
								<img data-email-hash="${props.email_hash}" src="https://www.gravatar.com/avatar/${props.email_hash}?s=50&d=identicon" class="${props.type}-image" />
							</td>
							<td>
								<div class="${props.type}-name">${props.name}${props.isTrueWinter && (html`<i class=\"the-truewinter fa fa-check-circle\" title=\"This is the real TrueWinter\"></i>`)}</div>
								<div class="${props.type}-time">${props.time}
									<span class="comment-reply">
										<a href="#" class="comment-reply-btn" data-tw-crb-id="${props.id}" data-tw-crb-type="${props.type}">Reply</a>
									</span>
								</div>
								<div class="${props.type}-text">${props.comment}</div>
							</td>
						</tr>
					</table>
					${repliesP(props.id)}
				</div>
			`;
		}

		function repliesP(id) {

			function getRepliesP(id) {
				var r = [];
				for (var i = 0; i < replies.length; i++) {
					if(replies[i].in_reply_to === id)  {
						r.push(replies[i]);
					}
				}
				return r;
			}

			var repliesArr = [];

			function addRepliesP(id) {
				var rp = getRepliesP(id);
				//console.log(rp);

				for (var i = 0; i < rp.length; i++) {
					repliesArr.push(html`<${Comment} id=${rp[i].id} email_hash=${rp[i].email_hash} name=${rp[i].name} time=${rp[i].time} comment=${rp[i].comment} type="reply" isTrueWinter=${rp[i].isTrueWinter ? true : false} />`);
					if (i === rp.length - 1) {
						return repliesArr;
					}
				}
			}
			return addRepliesP(id);
		}

		const html = htm.bind(preact.h);
		
		for (var i = 0; i < twcomments.length; i++) {
			commentsArray.push(html`<${Comment} id=${twcomments[i].id} email_hash=${twcomments[i].email_hash} name=${twcomments[i].name} time=${twcomments[i].time} comment=${twcomments[i].comment} type="comment" isTrueWinter=${twcomments[i].isTrueWinter ? true : false} />`);
		}

		preact.render(commentsArray, $('#tw-comments')[0]);
		
		var replyRecaptchaRendered = false;

		$('.comment-reply-btn').on('click', function(e) {
			e.preventDefault();
			
			$('#replyTextarea').on('keyup', function() {
				$('#replyFormCharacterCount').text($('#replyTextarea').val().length);
			});
			
			$('#replyModal').on('hidden.bs.modal', function (e) {
				$('#tw-reply-form-reply-to').val('');
				$('#tw-reply-form-reply-type').val('');
				$('#tw-reply-form-reply-post').val('');
				$('#tw-reply-form-root-comment').val('');
				$('#comment-reply-form')[0].reset();
			});
			
			var replyCaptchaComplete = false;
			
			$("#comment-reply-form").submit(function (e) {
				e.preventDefault();
				var post = true;
				$('#comment-reply-form').find('.invalid-form-data').removeClass('invalid-form-data');
				var red = "#F66";
				if (!($('[name="tw-rf-email"]')[0].value.match(/^[a-zA-Z0-9-.]+@[a-zA-Z0-9-.]+\.[a-zA-Z]{2,24}$/gi))) {
					$('[name="tw-rf-email"]').first().addClass('invalid-form-data');
					post = false;
				}
				if(!($('[name="tw-rf-name"]')[0].value.match(/^[a-zA-Z0-9\'\- ]+$/gi))) {
					$('[name="tw-rf-name"]').first().addClass('invalid-form-data');
					post = false;
				}
				if ($('[name="tw-rf-comment"]')[0].value == "") {
					$('[name="tw-rf-comment"]').first().addClass('invalid-form-data');
					post = false;
				}
				//if (grecaptcha) {
					//if (grecaptcha.getResponse() === "") {
					if (!replyCaptchaComplete && replyRecaptchaRendered) {
						$(".g-recaptcha-reply").first().addClass('invalid-form-data');
						post = false;
					}
				//}
				if (post) {
					$('#reply-form-btn').hide();
					$('#reply-form-spinner').show();
					$.ajax({
						type: "POST",
						data : $(this).serialize(),
						cache: false,
						url: commentsAPI+'/reply',
						success: function(data){
							$('#reply-form-btn').show();
							$('#reply-form-spinner').hide();
							$("#reply-form-result").html(data.message);
							if (data.success === false) {
								$("#reply-form-result")[0].style = "background-color:"+red+";border-radius:5px;padding:10px;margin-bottom:8px;color:white;";
							} else {
								$("#reply-form-result")[0].style = "background-color:rgb(48, 48, 48);border-radius:5px;padding:10px;margin-bottom:8px;display:inline-block;color:white;";
								$("#comment-reply-form")[0].reset();
								$('#replyModal').modal('hide');
								location.hash = '#comments';
								location.reload();
							}
							if (grecaptcha) {
								grecaptcha.reset();
							}
						}
					});
				} else {
					$('.invalid-form-data').off('input');
					$('.invalid-form-data').on('input', function(e) {
						if ($(e.target).val() === "") {
							$(e.target).addClass('invalid-form-data');
						} else {
							$(e.target).removeClass('invalid-form-data');
						}
					});
				}
				return false;
			});
			
			//console.log('replyform');
			console.log($(this).data('tw-crb-id'));
			console.log($(this).data('tw-crb-type'));
			$('#tw-reply-form-reply-to').val($(this).data('tw-crb-id'));
			$('#tw-reply-form-reply-type').val($(this).data('tw-crb-type'));
			$('#tw-reply-form-reply-post').val(location.pathname.slice(1).replace(/\//g, '-').replace('.html', ''));
			$('#tw-reply-form-root-comment').val($(this).parents('.comment').data('comment-id'));
			window.recaptchaReplyFormOnload = function() {
				grecaptcha.render($('.g-recaptcha-reply')[0], {'sitekey' : '6LeIjiwUAAAAAJTldNRQIgPEgF-FF8Arsym0CFNW'});
			}
			if (!replyRecaptchaRendered) {
				//console.log(replyRecaptchaRendered);
				if (!$('#recaptcha-lazy').attr('src')) {
					$('#recaptcha-lazy').attr('src', $('#recaptcha-lazy').data('src')+'?onload=recaptchaReplyFormOnload');
				} else {
					recaptchaReplyFormOnload();
				}
				replyRecaptchaRendered = true;
				//window.rrr = replyRecaptchaRendered;
			}
			//if (!$('#recaptcha-reply-lazy').attr('src')) {
				//$('#recaptcha-reply-lazy').attr('src', $('#recaptcha-reply-lazy').data('src'));
			//}
			window.recaptchaCallbackReply = function() {
                $(".g-recaptcha-reply").first().removeClass('invalid-form-data');
				replyCaptchaComplete = true;
            }
            
            window.recaptchaExpiredCallbackReply = function() {
                $(".g-recaptcha-reply").first().addClass('invalid-form-data');
				replyCaptchaComplete = false;
            }
			$('#replyModal').modal('show');
		});

		//console.log(data);

		if (data.success && data.metadata && data.metadata.page < data.metadata.pages) {
			$('#load-more-btn').show();
		}

	}
	xhr.send();
}

var preactLoad = false;
var htmLoad = false;

var preactAndHTMLoadedEvent = new Event('preactAndHTMLoadedEvent');

function preactLoaded() {
	console.log('Preact loaded');
	preactLoad = true;
	if (preactLoad && htmLoad) {
		window.dispatchEvent(preactAndHTMLoadedEvent);
	}
}
function htmLoaded() {
	console.log('HTM loaded');
	htmLoad = true;
	if (preactLoad && htmLoad) {
		window.dispatchEvent(preactAndHTMLoadedEvent);
	}
}

function loadScript(url, onloadFn) {
	var e = document.createElement('script');
	e.src = url;
	e.onload = onloadFn;
	document.body.appendChild(e);
}

window.addEventListener('load', function() {
	loadScript('https://cdnjs.cloudflare.com/ajax/libs/preact/10.4.7/preact.min.js', preactLoaded);
	loadScript('https://cdnjs.cloudflare.com/ajax/libs/htm/3.0.4/htm.min.js', htmLoaded);
});

window.addEventListener('preactAndHTMLoadedEvent', function() {
	var commentsLoaded = false;
	function loadCommentsIfInView() {
		if (commentsLoaded) return;
		if($('#tw-comments').isOnScreen()) {
			$('#comments-spinner').show();
			loadCommentsInit();
			loadComments();
			commentsLoaded = true;
		}
	}
	
	$(window).on('scroll', function() {
		loadCommentsIfInView();
	});
	
	loadCommentsIfInView();

	var commentsPage = 1;
	$('#load-more-btn').on('click', function() {
		$('#load-more-btn').hide();
		$('#comments-spinner').show();
		loadComments(commentsPage+1);
		commentsPage++;
	});
	
});

</script>
	<script>
		window.addEventListener('load', function() {
			if (location.hash && $(location.hash).length > 0) {
                $('html,body').animate({
                    scrollTop: $(location.hash).offset().top - $('.navbar').outerHeight()
                });
            }
		});
	</script>
</article>
